.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    background-color: #FAFAFA;
    padding: 0 27px;
}

.header .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header .logo {
    height: 50px;
}

.header .textLogo {
    height: 30px;
}

.header .link {
    margin-left: 10px;
    text-decoration: none;
    color: #6C8EF4;
    font-size: 18px;
    font-weight: 600;

}