.start {
    background-color: #F0F2F9;
    padding-bottom: 80px;
}

h2.startText {
    margin: 0px;
    padding-top: 40px;
}

p.startText {
    font-size: 18px;
}

.ButtonBox {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px
}

.imgContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.startImg {
    width: 400px;
}